 input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
  #genaddr{
    color: #77B300;
  }

  .copybtn {
    background: black;
    border:none;
  }

  .nknmesh {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 100px;
    margin-bottom: 100px;
  }

  .loadaddr {
    display: none;
  }

  @media screen and (max-width: 1024px) {
    .hideonsmall {
      display: none !important;
    }
    .nknmesh {
      display: none !important;
    }
    .col-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }